.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  font-family: 'Aldrich', sans-serif;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "settings settings"
    "leftwrapper rightwrapper"
    "footer footer";

  header.gs-header {
    grid-area: header;
    color: #162162;
    background-color: #ffe999;
    font-size: 3em;
    padding: 0.25em 0;
    text-align: center;

    .logo {
      height: 60px;
    }
  }

  .gs-settings {
    grid-area: settings;
    background-color: #ffde66;
    border-bottom: 3px solid #ffc800;
    padding: 0.25em 0;
    display: inline-flex;
    justify-content: center;
  }

  .left-wrapper {
    grid-area: leftwrapper;
    margin: 10px 5px 10px 10px;
    ;
    background-color: #e8e8e8;
    flex: 4;

    h2 {
      text-align: center;
    }

    .gs-card-style {
      background-color: white;
      padding: 10px;
      margin: 10px;
    }
  }

  .right-wrapper {
    grid-area: rightwrapper;
    margin: 10px 10px 10px 5px;
    background-color: #e8e8e8;
    flex: 2;
    display: flex;
    flex-direction: column;

    .display-radio,
    .legend-wrapper {
      padding: 0.5em;
    }

    .preview-map-info {
      padding: 0 0.5em;
    }

    .code-display-container {
      overflow: hidden;
      flex: 1;
      display: flex;
      flex-direction: column;

      >div {
        overflow: hidden;
        flex: 1;
      }
    }

    #legend {
      padding: 1em;
      background-color: white;
    }
  }

  footer.gs-footer {
    grid-area: footer;
    min-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bec4e3;
    border-top: 3px solid #162162;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .gs-small-col {
    width: auto;
  }

  .right-wrapper {
    max-width: 95%;
  }
}
