.examples-dialog {
  font-family: 'Aldrich', sans-serif;
}

.examples-dialog .ant-modal-footer,
.examples-dialog .ant-modal-header {
  background-color: #ffde66;
  border-color: #ffc800;
  border-width: 3px;
}

.examples-dialog .ant-modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #e8e8e8;
}

.examples-dialog .example-card {
  overflow: hidden;
  cursor: pointer;
  justify-self: stretch;
  text-align: center;
  align-self: stretch;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ffc800;
  background-color: white;
  height: 100px;
}

.examples-dialog .example-card:hover,
.examples-dialog .example-card.selected:hover {
  background-color: #ffc800
}

.examples-dialog .example-card.selected {
  background-color: #ffde66
}

.examples-dialog .example-card .title {
  font-size: 1.5em;
  color: #162162;
  pointer-events: none;
}

.examples-dialog .example-card .description {
  pointer-events: none;
}
