/* aldrich-regular - latin */
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/aldrich/aldrich-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Aldrich Regular'), local('Aldrich-Regular'),
       url('./assets/fonts/aldrich/aldrich-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/aldrich/aldrich-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/aldrich/aldrich-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/aldrich/aldrich-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/aldrich/aldrich-v8-latin-regular.svg#Aldrich') format('svg'); /* Legacy iOS */
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body > header,
body > footer {
  font-family: 'Aldrich', sans-serif;
  height: 50px;
}

body > header {
  padding: 10px;
  font-size: 1.5em;
  background-color: #ffe999;
}

body > footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bec4e3;
  border-top: 3px solid #162162;
  text-align: center;
}

body > footer a {
  color: #162162;
}

body > header a {
  float: right;
  margin-left: 5px;
  text-decoration: none;
  color: #162162;
}

#root {
  flex: 1;
}
