name: Node CI
on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 16
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
    - name: Build application
      run: |
        npm ci
        npm run build
      env:
        CI: true
    - name: Deploy to GitHubPages
      uses: JamesIves/github-pages-deploy-action@v4.4.3
      if: github.ref == 'refs/heads/master'
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages # The branch the action should deploy to.
        folder: dist # The folder the action should deploy.:
